<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 
<suite name="WebHelpSuite" verbose="1" >
  <test name="CheckWebHelp"   >
    <packages>
    <!--<package name="RapidRecovery.com.wizards" />-->
        <package name="RapidRecovery.com.tabs" />
   </packages>
 </test>
    <listeners>
        <listener class-name="RapidRecovery.com.util.TestListener"/>
    </listeners>
</suite>
